### Nama : Mohammad Rafi Adithama
### NIM : 2209106041
### Kelas : A2
# POSTTEST 4

#

### pertama kita mengimport semua libary yang ingin dipakai dan mengambil csv yg ingin digunakan

In [164]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

rafi = pd.read_csv('bodyPerformance.csv')

### tampilkan dataset agar mempermudah dalam mengerjakan

In [2]:
rafi.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27.0,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25.0,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31.0,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32.0,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28.0,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B

#

### Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [4]:
X = rafi.drop(columns='age')
y = rafi['age']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [33]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(9375, 11)
(4018, 11)
(9375,)
(4018,)

### kita tentukan x dan y untuk di train set dan test set, lalu kita atur test sizenya 0,3 yang artinya 30% otomatis train size nya 70%

#

### Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [25]:
rf = rafi.copy()
rf.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27.0,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25.0,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31.0,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32.0,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28.0,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B

In [34]:
scale =MinMaxScaler()
scaledData= scale.fit_transform(rf[['age']])
rf['age'] = scaledData

print('sebelum Normalisasi')
print(rafi['age'].describe())
print('\n')
print('setelah Normalisasi')
print(rf['age'].describe())

sebelum Normalisasi
count    13393.000000
mean        36.775106
std         13.625639
min         21.000000
25%         25.000000
50%         32.000000
75%         48.000000
max         64.000000
Name: age, dtype: float64


setelah Normalisasi
count    13393.000000
mean         0.366863
std          0.316875
min          0.000000
25%          0.093023
50%          0.255814
75%          0.627907
max          1.000000
Name: age, dtype: float64

### lakukan normalisasi pada kolom age dan menampilkan kolom age sebelum dan sesudah normalisasi

#

### Lakukan standarisasi pada dataset (buatlah copy dataset terlebih dahulu)

In [37]:
ss = StandardScaler()
scaledData = ss.fit_transform(rf[['age']])
rf['age'] = scaledData

print('sebelum di standarisasi')
print(np.std(rafi['age']))
print('\n')
print('setelah di standarisasi')
print(np.std(rf['age']))

sebelum di standarisasi
13.625130780681168


setelah di standarisasi
1.0

### lakukan standarisasi pada kolom age dan tampilkan sebelum dan sesudah standarisasi

#

#

### Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus). Nilai plus jika strategy yang digunakan menggunakan 3 nilai

In [24]:
rafi.isna().sum()

age                        0
gender                     0
height_cm                  0
weight_kg                  0
body fat_%                 0
diastolic                  0
systolic                   0
gripForce                  0
sit and bend forward_cm    0
sit-ups counts             0
broad jump_cm              0
class                      0
dtype: int64

In [196]:
rf1 = rafi.copy()

rf1.loc[0,"age"] = None
rf1.loc[0,"gender"] = None

In [197]:
rf1.isnull().sum()

age                        1
gender                     1
height_cm                  0
weight_kg                  0
body fat_%                 0
diastolic                  0
systolic                   0
gripForce                  0
sit and bend forward_cm    0
sit-ups counts             0
broad jump_cm              0
class                      0
dtype: int64

### dikarenakan tidak ada nilai null pada dataset, karena itu kita buat nilai null pada kolom age dan gander

In [198]:
imputer = SimpleImputer(strategy='mean')

rf1['age'] = imputer.fit_transform(rf1[['age']])

In [211]:
rf1.isna().sum()

age                        0
gender                     1
height_cm                  0
weight_kg                  0
body fat_%                 0
diastolic                  0
systolic                   0
gripForce                  0
sit and bend forward_cm    0
sit-ups counts             0
broad jump_cm              0
class                      0
dtype: int64

In [220]:
rf1['gender'].fillna(rf1['gender'].mode(),inplace=True)

In [221]:
rf1.isna().sum()

age                        0
gender                     0
height_cm                  0
weight_kg                  0
body fat_%                 0
diastolic                  0
systolic                   0
gripForce                  0
sit and bend forward_cm    0
sit-ups counts             0
broad jump_cm              0
class                      0
dtype: int64

#

### Lakukan Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada)

In [223]:
rf1.duplicated().sum()

1

### terdapat 1 data duplikat

In [224]:
rf1.drop_duplicates(inplace=True)

In [225]:
rf1.duplicated().sum()

0

### drop terlebih dahulu data duplikat, lalu kita tampilkan lagi

#

### Ganti tipe data salah satu attribute angka

In [226]:
rf1['age'] = rf1['age'].astype(object)

In [227]:
rf1.dtypes

age                         object
gender                      object
height_cm                  float64
weight_kg                  float64
body fat_%                 float64
diastolic                  float64
systolic                   float64
gripForce                  float64
sit and bend forward_cm    float64
sit-ups counts             float64
broad jump_cm              float64
class                       object
dtype: object

### ubah tipe data "age" awalnya float64 menjadi object

#

### Lakukan one hot encoding pada dataset yang kalian miliki

In [229]:
one_enc=pd.get_dummies(rafi[['class']])
rf1= rafi.join(one_enc.astype('int64'))
rf1.drop('class', axis=1, inplace=True)

In [230]:
rf1.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class_A,class_B,class_C,class_D
0,27.0,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,0,0,1,0
1,25.0,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,1,0,0,0
2,31.0,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,0,0,1,0
3,32.0,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,0,1,0,0
4,28.0,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,0,1,0,0

### One-hot Encoding pada attribute yang nilai dalamnya lebih dari 2